Cargo.lock
node_modules
build
*.log
package-lock.json
examples/go
examples/moby
target

*.a
*.dylib
*.so
*.o
bindings/c/*.h
bindings/c/tree-sitter-*.pc
.build/

# Ignore for now, once this is actually used you'll kinda need it
bindings
src
binding.gyp
